[Unit]
Description=Firefly Relay
After=network.target

[Service]
ExecStart=/root/.ssh/relay.sh ec2-user firefly-relay.gofirefly.io 31234 gitlab.internal.com 80 /root/.ssh/sshd.pem
WorkingDirectory=/root/.ssh
Restart=always
User=root

[Install]
WantedBy=default.target